<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin manager</title>
    <meta name="description" content="Login page">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="shortcut icon" th:href="@{/admin/images/manager-icon.png}">

    <link rel="stylesheet" th:href="@{/admin/assets/css/normalize.css}">
    <link rel="stylesheet" th:href="@{/admin/assets/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/admin/assets/css/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/admin/assets/css/themify-icons.css}">
    <link rel="stylesheet" th:href="@{/admin/assets/css/cs-skin-elastic.css}">
    <link rel="stylesheet" th:href="@{/admin/assets/scss/style.css}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body class="bg-dark">
<div class="sufee-login d-flex align-content-center flex-wrap">
    <div class="container">
        <div class="login-content">
            <div class="login-form">
                <form th:action="@{/_admin/login}" method="post">
                    <div class="form-group">
                        <label>Địa chỉ email</label>
                        <input type="email" class="form-control" name="username" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label>Mật khẩu</label>
                        <input type="password" class="form-control" name="password" placeholder="Mật khẩu">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember-me"> Lưu đăng nhập
                        </label>
                        <label class="pull-right">
                            <a href="#">Quên mật khẩu?</a>
                        </label>
                    </div>
                    <button type="submit" class="btn btn-success btn-flat m-b-30 m-t-30">Đăng nhập</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/admin/assets/js/vendor/jquery-2.1.4.min.js}"></script>
<script th:src="@{/admin/assets/js/popper.min.js}"></script>
<script th:src="@{/admin/assets/js/plugins.js}"></script>
<script th:src="@{/admin/assets/js/main.js}"></script>

</body>
</html>
