<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/admin/layout}">
<body>
<div class="content mt-3" layout:fragment="content">
    <link rel="stylesheet" th:href="@{/admin/assets/css/monokai_sublime.css}">
    <link rel="stylesheet" th:href="@{/admin/assets/css/quill.snow.css}">
    <style>
        #savePost{
            max-width: 30%;
            min-width: 50%;
            text-align: center !important;
        }
        #editor{
            min-height: 300px;
        }
    </style>
    <div class="msgBox"></div>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">
                            <h3 class="text-center">Thêm bài viết</h3>
                        </div>
                    </div>
                    <div class="card-body">
                        <!-- Credit Card -->
                        <div id="pay-invoice">
                            <div class="card-body">
                                <form action="" method="post" novalidate="novalidate">
                                    <div class="form-group">
                                        <label for="title" class="control-label mb-1">Tiêu đề</label>
                                        <input id="title" name="title" type="text" class="form-control" placeholder="Tiêu đề" aria-required="true" aria-invalid="false">
                                    </div>
                                    <div class="form-group" id="tags">
                                        <label for="tagSelect" class="control-label mb-1">Tag</label>
                                        <select id="tagSelect" data-placeholder="--Chọn tag--" multiple class="standardSelect" tabindex="5">
                                            <option value=""></option>
                                            <option value="java">Java</option>
                                            <option value="csharp">C#</option>
                                            <option value="php">PHP</option>
                                            <option value="javascript">Javascript</option>
                                            <option value="cplus">C++</option>
                                        </select>
                                        <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="form-group" id="categories">
                                        <label for="category" class="control-label mb-1">Danh mục</label>
                                        <select id="category" data-placeholder="--Chọn danh mục--" multiple class="standardSelect" tabindex="5">
                                            <option value=""></option>
                                            <option value="United States">Quản trị hệ thống</option>
                                            <option value="United Kingdom">Lập trình</option>
                                        </select>
                                        <span class="help-block" data-valmsg-for="cc-exp" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label mb-1">Nội dung</label>
                                        <div class="animated fadeIn">
                                            <div id="editor"></div>
                                        </div>
                                        <span class="help-block" data-valmsg-for="cc-number" data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="form-group"></div>
                                    <div class="row">
                                        <a id="savePost" class="btn btn-lg btn-primary btn-block" style="color: white">
                                            <i class="fa fa-dot-circle-o"></i>
                                            <span id="post-button-amount">Thêm bài viết</span>
                                            <span id="post-button-sending" style="display:none;">Sending…</span>
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.13.1/highlight.min.js"></script>
    <script th:src="@{/admin/assets/js/jquery.min.js}"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <section layout:fragment="js">
        <script>
            (function() {
                var el = document.querySelector('.ql-syntax');
                var esc;
                if(el != null && el != ''){
                    esc = _.escape(el.innerHTML);
                    el.innerHTML = esc;
                    hljs.highlightBlock(el);
                }
            })();

            $('#savePost').click(function () {
               /* $('#packagename').val() == undefined ? '' : $("#packagename").val().trim();*/
                var tags = [];
                var categories = [];
                $( "#tags .chosen-choices .search-choice" ).each(function( index ) {
                    if($(this).text() != undefined && $(this).text() != ''){
                        tags.push($(this).text());
                    }
                });

                $( "#categories .chosen-choices .search-choice" ).each(function( index ) {
                    if($(this).text() != undefined && $(this).text() != ''){
                        categories.push($(this).text());
                    }
                });

                var postJson = new Object();
                postJson.title = $('#title').val();
                postJson.language = 'vn';
                postJson.status = 'PUBLISHED';
                postJson.views = parseInt('10');
                postJson.tags = tags;
                postJson.categories = categories;
                postJson.created_at = now();
                postJson.updated_at = now();
                postJson.body = $('.ql-editor').html();
                var port = window.location.port;
                var url = '';
                var protocol = '';
                if (window.location.hostname == 'localhost') {
                    protocol = 'http://'
                } else {
                    protocol = 'https://'
                }
                if(port !== null && port !== '') {
                    url = protocol + window.location.hostname + ':' + window.location.port ;
                } else {
                    url = protocol + window.location.hostname;
                }
                if (validateData()) {
                    $.ajax({
                        type    : 'POST',
                        url     : url + "/admin_/post/create",
                        async   : 'true',
                        data: JSON.stringify(postJson),
                        contentType : 'application/json',
                        dataType: "json",
                        error: function (request, status, error) {
                            var err = eval("(" + request.responseText + ")");
                            console.log('Error ' + request.responseText + "\n" + status + "\n" + error);
                            showMessage('error', 'Tạo bài viết thất bại! ', '.msgBox');
                        },
                        success: function (dataResponse) {
                            alert(dataResponse.body);
                            if(dataResponse.isSuccess){
                                showMessage('success', 'Tạo bài viết thành công.', '.msgBox');
                                $('input').removeClass("is-invalid");
                                $('.error').hide();
                            }else{
                                //Set error messages
                                $.each(dataResponse.errorMessages,function(key,value){
                                    showMessage('error', 'Tạo bài viết thất bại!', '.msgBox');
                                    $('input[name='+key+']').after('<span class="error">'+value+'</span>');
                                    $('input[name='+key+']').addClass("is-invalid");
                                });
                            }
                        }
                    });
                } else {
                    showMessage('error', 'Dữ liệu không hợp lệ!', '.msgBox');
                    console.log('error');
                }
            });

            function validateData() {
                return true;
            }

            hljs.configure({
                languages: ['javascript', 'ruby', 'python', 'java', 'css', 'sql', 'perl', 'html', 'coffeescript', 'properties', 'xml', 'json']
            });

            var toolbarOptions = [
                [{
                    'header': [1, 2, 3, 4, 5, 6, false]
                }],
                ['bold', 'italic', 'underline', 'strike'], // toggled buttons
                ['blockquote', 'code-block'],

                [{
                    'header': 1
                }, {
                    'header': 2
                }], // custom button values
                [{
                    'list': 'ordered'
                }, {
                    'list': 'bullet'
                }],
                [{
                    'script': 'sub'
                }, {
                    'script': 'super'
                }],
                [{
                    'indent': '-1'
                }, {
                    'indent': '+1'
                }],
                [{
                    'direction': 'rtl'
                }],

                [{
                    'size': ['small', false, 'large', 'huge']
                }],

                [{
                    'color': []
                }, {
                    'background': []
                }],
                [{
                    'font': []
                }],
                [{
                    'align': []
                }],
                ['link', 'video'],

                ['clean']
            ];

            var quillFull = new Quill('#editor', {
                modules: {
                    toolbar: toolbarOptions,
                    syntax: true
                },
                theme: 'snow',
                placeholder: "Nhập nội dung..."
            });

            jQuery(document).ready(function() {
                jQuery(".standardSelect").chosen({
                    disable_search_threshold: 10,
                    search:true,
                    no_results_text: "Oops, nothing found!",
                    width: "100%"
                });
            });
        </script>
    </section>
</div>
</body>
</html>