<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/admin/layout}">
<body>
<div class="content mt-3" layout:fragment="content">
    <div class="msgBox"></div>
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-lg-9">
                <div class="card">
                    <div class="card-body">
                        <div id="pay-invoice">
                            <div class="card-body">
                                <div class="form-group">
                                    <label for="name" class="control-label mb-1">Name tag</label>
                                    <input id="name" name="name" type="text" class="form-control"
                                           placeholder="Tag name ">
                                </div>
                                <button class="btn btn-primary" id="save-tag">Create</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section layout:fragment="js">
    <script th:src="@{/admin/assets/js/jquery.min.js}"></script>
    <script>
        $('#save-tag').click(function () {
            var tagJson = new Object();
            tagJson.name = $('#name').val();
            tagJson.language = 'en';
            var port = window.location.port;
            var url = '';
            var protocol = '';
            if (window.location.hostname == 'localhost') {
                protocol = 'http://'
            } else {
                protocol = 'https://'
            }
            if (port !== null && port !== '') {
                url = protocol + window.location.hostname + ':' + window.location.port;
            } else {
                url = protocol + window.location.hostname;
            }
            $.ajax({
                type: 'POST',
                url: url + "/_admin/tag",
                async: 'true',
                data: JSON.stringify(tagJson),
                contentType: 'application/json',
                dataType: "json",
                error: function (request, status, error) {

                },
                success: function (dataResponse) {

                }
            });
        });
    </script>
</section>
</body>

</html>