<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/admin/layout}">
<body>
<div layout:fragment="content" class="content mt-3">
    <div class="animated fadeIn">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <strong class="card-title">Tag list</strong>
                    </div>
                    <div class="card-body">
                        <table id="bootstrap-data-table" class="table table-striped table-bordered">
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>User create</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="item,itrStat : ${listItem}">
                                <td th:utext="${item.id}"></td>
                                <td th:utext="${item.name}"></td>
                                <td th:utext="${item.createdBy}"></td>
                                <td>delete/edit</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- .animated -->
</div><!-- .content -->
<section layout:fragment="js">
    <script th:src="@{/admin/assets/js/lib/data-table/datatables.min.js}"></script>
    <script th:src="@{/admin/assets/js/lib/data-table/dataTables.bootstrap.min.js}"></script>
    <script th:src="@{/admin/assets/js/lib/data-table/dataTables.buttons.min.js}"></script>

    <script th:src="@{/admin/assets/js/lib/data-table/jszip.min.js}"></script>
    <script th:src="@{/admin/assets/js/lib/data-table/pdfmake.min.js}"></script>
    <script th:src="@{/admin/assets/js/lib/data-table/vfs_fonts.js}"></script>
    <script th:src="@{/admin/assets/js/lib/data-table/buttons.html5.min.js}"></script>
    <script th:src="@{/admin/assets/js/lib/data-table/buttons.print.min.js}"></script>
    <script th:src="@{/admin/assets/js/lib/data-table/buttons.colVis.min.js}"></script>
    <script th:src="@{/admin/assets/js/lib/data-table/datatables-init.js}"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $('#bootstrap-data-table-export').DataTable({
                buttons: [
                    'pdfHtml5'
                ]
            });
            $('#bootstrap-data-table').DataTable();
        });
    </script>
</section>
</body>
</html>
