<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/guest/layout}">
<head>
    <meta charset="UTF-8">
    <title>Về chúng tôi</title>
</head>
<body>
<section layout:fragment="feature"></section>
<section layout:fragment="content">
    <div class="container oi_container_holder_revex">
        <div class="oi_page_holder_page">
            <div class="oi_page_title_holder">
                <h1><span>Về chúng tôi</span></h1>
            </div>
            <div class="oi_page_content_holder">
                <div class="row row-fluid">
                    <div class="col-sm-12 mb35">
                        <img class="img-responsive" th:src="@{/images/clothes-fashion-hat-1920x700.jpg}"
                             alt="clothes-fashion-hat" title="clothes-fashion-hat">
                    </div>
                </div>
                <div class="row row-fluid">
                    <div class="col-sm-6">
                        <p>
                            Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan sed. Craft beer
                            elit seitan exercitation, photo booth et 8-bit kale chips proident chillwave deep v laborum.
                            Aliquip veniam delectus, Marfa eiusmod Pinterest.
                        </p>
                        <p>
                            Meh synth Schlitz, tempor duis single-origin coffee ea next level ethnic fingerstache fanny
                            pack nostrud. Photo booth anim 8-bit hella, PBR 3 wolf moon beard Helvetica. Salvia esse
                            nihil, flexitarian Truffaut synth art party deep v chillwave. Seitan High Life reprehenderit
                            consectetur cupidatat kogi. Et leggings fanny pack, elit bespoke vinyl art.
                        </p>


                        <p>
                            Disrupt vero ea id fugiat, lo-fi lomo post-ironic irony kitsch Banksy. Tumblr kale chips
                            single-origin coffee Wes Anderson +1 tousled, disrupt butcher sapiente banh mi brunch nisi
                            irony. Artisan wolf fap lomo, laborum Tumblr anim consequat fashion axe sartorial leggings
                            viral.
                        </p>
                    </div>
                    <div class="col-sm-6">
                        <div class="wpb_wrapper">
                            <div class="wpb_text_column wpb_content_element ">
                                <div class="wpb_wrapper">
                                    <p>
                                        Exercitation photo booth stumptown tote bag Banksy, elit small batch freegan
                                        sed. Craft beer elit seitan exercitation, photo booth et 8-bit kale chips
                                        proident chillwave deep v laborum. Aliquip veniam delectus, Marfa eiusmod
                                        Pinterest.
                                    </p>
                                    <p>
                                        Disrupt vero ea id fugiat, lo-fi lomo post-ironic irony kitsch Banksy. Tumblr
                                        kale chips single-origin coffee Wes Anderson +1 tousled, disrupt butcher
                                        sapiente banh mi brunch nisi irony. Artisan wolf fap lomo, laborum Tumblr anim
                                        consequat fashion axe sartorial leggings viral.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section layout:fragment="js">
    <script type="text/javascript">
        jQuery(function ($) {
            $(".current-menu-choose2").addClass("current-menu-item");
        });
    </script>
</section>
</body>
</html>