<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/guest/layout}">
<head>
    <meta charset="UTF-8">
    <title>Trang chủ</title>
</head>
<body>
<section layout:fragment="content">
    <div class="site-main-container">
        <link th:href="@{/blog/css/tag-style.css}" rel="stylesheet" media='all'/>
        <!-- Start latest-post Area -->
        <section class="latest-post-area pb-120">
            <div class="container no-padding">
                <div class="row">
                    <div class="col-lg-8 post-list">
                        <!-- Start latest-post Area -->
                        <div class="latest-post-wrap">
                            <h4 class="cat-title">Bài viết mới</h4>
                            <div class="loop" th:each="item,itrStat : ${listItem}">
                                <div class="single-latest-post row align-items-center">
                                    <div class="col-lg-5 post-left">
                                        <div class="feature-img relative">
                                            <div class="overlay overlay-bg"></div>
                                            <img style="height: 200px;width: 300px" class="img-fluid" src='https://image.ibb.co/eO8oq8/default-1.png' alt="">
                                        </div>
                                        <ul class="tags">
                                            <li><a href="#">Lifestyle</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-7 post-right">
                                        <a th:href="@{'/post/' + ${item.code}}" >
                                            <h4 th:utext="${item.title}"></h4>
                                        </a>
                                        <ul class="meta">
                                            <span class="oi_ddate"></span>
                                            <li><a href="#"><span class="lnr lnr-user"></span><span th:utext="${item.createdBy}"></span></a></li>
                                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
                                        </ul>
                                        <p class="excert">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End latest-post Area -->
                        <div class="col-lg-12 ad-widget-wrap mt-30 mb-30">
                            <img class="img-fluid" th:src="@{/blog/img/banner-ad.jpg}" alt="">
                        </div>
                        <div class="relavent-story-post-wrap mt-30">
                            <h4 class="title">Xem nhiều</h4>
                            <div class="relavent-story-list-wrap">
                                <div class="loop" th:each="item,itrStat : ${listMostItem}">
                                    <div class="single-relavent-post row align-items-center">
                                    <div class="col-lg-5 post-left">
                                        <div class="feature-img relative">
                                            <div class="overlay overlay-bg"></div>
                                            <img style="height: 200px;width: 300px" class="img-fluid" src='https://image.ibb.co/eO8oq8/default-1.png' alt="">
                                        </div>
                                        <ul class="tags">
                                            <li><a href="#">Lifestyle</a></li>
                                        </ul>
                                    </div>
                                    <div class="col-lg-7 post-right">
                                        <a th:href="@{'/post/' + ${item.code}}" >
                                            <h4 th:utext="${item.title}"></h4>
                                        </a>
                                        <ul class="meta">
                                            <span class="oi_ddate"></span>
                                            <li><a href="#"><span class="lnr lnr-user"></span><span th:utext="${item.createdBy}"></span></a></li>
                                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span>06 Comments</a></li>
                                        </ul>
                                        <p class="excert">
                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
                                        </p>
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                        <!-- End relavent-story-post Area -->
                    </div>
                    <div class="col-lg-4">
                        <div class="sidebars-area">
                            <div class="single-sidebar-widget ads-widget">
                                <img class="img-fluid"th:src="@{/blog/img/sidebar-ads.jpg}" alt="">
                            </div>
                            <div class="single-sidebar-widget newsletter-widget">
                                <h6 class="title">Newsletter</h6>
                                <div class="form-group d-flex flex-row">
                                    <div class="col-autos">
                                        <div class="input-group">
                                            <input class="form-control" placeholder="Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email Address'" type="text">
                                        </div>
                                    </div>
                                    <a href="#" class="bbtns">Subcribe</a>
                                </div>
                                <p>
                                    You can unsubscribe us at any time
                                </p>
                            </div>
                            <div class="single-sidebar-widget most-popular-widget">
                                <h6 class="title">Most Popular</h6>
                                <div class="single-list flex-row d-flex">
                                    <div class="details">
                                        <a href="#">
                                            <h6>Help Finding Information
                                                Online is so easy</h6>
                                        </a>
                                        <ul class="meta">
                                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="single-list flex-row d-flex">
                                    <div class="details">
                                        <a href="#">
                                            <h6>Compatible Inkjet Cartr
                                                world famous</h6>
                                        </a>
                                        <ul class="meta">
                                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="single-list flex-row d-flex">
                                    <div class="details">
                                        <a href="#">
                                            <h6>5 Tips For Offshore Soft
                                                Development </h6>
                                        </a>
                                        <ul class="meta">
                                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="single-list flex-row d-flex">
                                    <div class="details">
                                        <a href="#">
                                            <h6>5 Tips For Offshore Soft
                                                Development </h6>
                                        </a>
                                        <ul class="meta">
                                            <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a></li>
                                            <li><a href="#"><span class="lnr lnr-bubble"></span>06</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="single-sidebar-widget social-network-widget">
                                <h6 class="title">Tags</h6>
                                <div class="single-list flex-row d-flex">
                                    <ul class="tags">
                                        <li th:each="item,itrStat : ${tags}">
                                            <a class="tag" th:utext="${item}"></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End latest-post Area -->
    </div>
</section>
<section layout:fragment="js">

</section>
</body>
</html>
