<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template/guest/layout}">
<head>
    <meta charset="UTF-8">
    <title th:if="${item != null}" th:utext="${item.title}"></title>
</head>
<body>
<section layout:fragment="feature"></section>
<section layout:fragment="content">
    <link rel="stylesheet" th:href="@{/admin/assets/css/monokai_sublime.css}">
    <style>
        .ql-syntax {
            background-color: #232323 !important;
            color: #f8f8f2 !important;
            padding: 20px;
        }
    </style>
    <div class="site-main-container">
        <!-- Start latest-post Area -->
        <section class="latest-post-area pb-120">
            <div class="container no-padding">
                <div class="row">
                    <div class="col-lg-8 post-list" th:if="${item != null}">
                        <!-- Start single-post Area -->
                        <div class="single-post-wrap">
                            <div class="content-wrap">
                                <ul class="tags">
                                    <li><a href="#">Programming</a></li>
                                </ul>
                                <a href="#">
                                    <h3 th:utext="${item.title}">blog lập trình</h3>
                                </a>
                                <ul class="meta pb-20">
                                    <li><a href="#"><span class="lnr lnr-user"></span></a></li>
                                    <li><a href="#"><span class="lnr lnr-calendar-full"></span>03 April, 2018</a></li>
                                    <li><a href="#"><span class="lnr lnr-bubble"></span>06 </a></li>
                                </ul>
                                <div th:utext="${item.body}"></div>
                                <!--<div class="navigation-wrap justify-content-between d-flex">
                                    <a class="prev" th:href="@{'/post/' + ${item.code} + '?prev=true&id=' + ${item.id}}" ><span class="lnr lnr-arrow-left"></span>Prev Post</a>
                                    <a class="next" th:href="@{'/post/' + ${item.code} + '?next=true&id=' + ${item.id}}" >Next Post<span class="lnr lnr-arrow-right"></span></a>
                                </div>-->
                                <div class="comment-sec-area">
                                    <div class="container">
                                        <div class="row flex-column">
                                            <h6>05 Comments</h6>
                                            <div class="comment-list">
                                                <div class="single-comment justify-content-between d-flex">
                                                    <div class="user justify-content-between d-flex">
                                                        <div class="thumb">
                                                            <img src="img/blog/c1.jpg" alt="">
                                                        </div>
                                                        <div class="desc">
                                                            <h5><a href="#">Emilly Blunt</a></h5>
                                                            <p class="date">December 4, 2017 at 3:12 pm </p>
                                                            <p class="comment">
                                                                Never say goodbye till the end comes!
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="reply-btn">
                                                        <a href="" class="btn-reply text-uppercase">reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-list left-padding">
                                                <div class="single-comment justify-content-between d-flex">
                                                    <div class="user justify-content-between d-flex">
                                                        <div class="thumb">
                                                            <img src="img/blog/c2.jpg" alt="">
                                                        </div>
                                                        <div class="desc">
                                                            <h5><a href="#">Emilly Blunt</a></h5>
                                                            <p class="date">December 4, 2017 at 3:12 pm </p>
                                                            <p class="comment">
                                                                Never say goodbye till the end comes!
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="reply-btn">
                                                        <a href="" class="btn-reply text-uppercase">reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="comment-list">
                                                <div class="single-comment justify-content-between d-flex">
                                                    <div class="user justify-content-between d-flex">
                                                        <div class="thumb">
                                                            <img src="img/blog/c3.jpg" alt="">
                                                        </div>
                                                        <div class="desc">
                                                            <h5><a href="#">Emilly Blunt</a></h5>
                                                            <p class="date">December 4, 2017 at 3:12 pm </p>
                                                            <p class="comment">
                                                                Never say goodbye till the end comes!
                                                            </p>
                                                        </div>
                                                    </div>
                                                    <div class="reply-btn">
                                                        <a href="" class="btn-reply text-uppercase">reply</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="comment-form">
                                <h4>Post Comment</h4>
                                <form>
                                    <div class="form-group form-inline">
                                        <div class="form-group col-lg-6 col-md-12 name">
                                            <input type="text" class="form-control" id="name" placeholder="Enter Name"
                                                   onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = 'Enter Name'">
                                        </div>
                                        <div class="form-group col-lg-6 col-md-12 email">
                                            <input type="email" class="form-control" id="email"
                                                   placeholder="Enter email address" onfocus="this.placeholder = ''"
                                                   onblur="this.placeholder = 'Enter email address'">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="subject" placeholder="Subject"
                                               onfocus="this.placeholder = ''" onblur="this.placeholder = 'Subject'">
                                    </div>
                                    <div class="form-group">
                                        <textarea class="form-control mb-10" rows="5" name="message"
                                                  placeholder="Messege" onfocus="this.placeholder = ''"
                                                  onblur="this.placeholder = 'Messege'" required=""></textarea>
                                    </div>
                                    <a href="#" class="primary-btn text-uppercase">Post Comment</a>
                                </form>
                            </div>
                        </div>
                        <!-- End single-post Area -->
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<section layout:fragment="js">

</section>
</body>
</html>