/* itim-regular - latin_latin-ext_vietnamese */
@font-face {
  font-family: 'Itim';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/template/itim/itim-v2-latin_latin-ext_vietnamese-regular.ttf') format('truetype'); /* IE9 Compat Modes */
}
#onecv-body {
    font-family: Itim !important;
}